{% extends 'base.html' %}
<!-- {% load custom_filters %} -->

{% block title %}File Server - Landing Page{% endblock %}
{% block content %}
<div class="reset-password-form-container">
    <div class="reset-password-form">
        <h2>Enter New Password</h2>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Change My Password</button>
        </form>
    </div>
</div>
{% endblock %}
