{% extends 'base.html' %}

{% block title %}File Server - Password reset sent{% endblock %}

{% block content %}

<div class="password-reset-sent-container">
    <div class="password-reset-sent-message">
        <h1>Password Reset Sent</h1>
        <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, please check your spam folder.</p>
        <a href="{% url 'landing_page' %}" class="btn btn-primary">Back to Home</a>
    </div>
</div>

{% endblock %}

