{% extends 'base.html' %}
{% load custom_filters %}


{% block title %}File Server - Reset Password{% endblock %}

{% block content %}

<div class="reset-password-container">
    <div class="reset-password-form">
        <h1 class="text-center">Reset Password</h1>

        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>

        <div class="mt-3 text-center">
            <a href="{% url 'landing_page' %}">Back Home</a>
        </div>
    </div>
</div>

{% endblock %}

