<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>
    <div class="login">

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h1>Register Here</h1>

        <a href="{% url 'landing_page' %}">Home</a>
        <a href="{% url 'login' %}">Login</a>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
    </div>
</body>

</html>