{% extends 'base.html' %}
<!-- {% load custom_filters %} -->

{% block title %}File Server | Home{% endblock %}
{% block content %}

<div class="signup-container">
    <div class="signup-form">
        <h2 class="text-center">Register Here</h2>
        <br>
        {% if messages %}
        <div class="alert alert-warning">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.password1.label_tag }}
                {{ form.password1|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.password2.label_tag }}
                {{ form.password2|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
    </div>
</div>
{% endblock %}